
@font-face {
  font-family: "BEBASNEUEBOLD0";
  src: url("~@/assets/~@/assets/fonts/BEBASNEUEBOLD0.eot?#iefix");
  src: url("~@/assets/fonts/BEBASNEUEBOLD0.eot?#iefix")
      format("eot"),
    url("~@/assets/fonts/BEBASNEUEBOLD0.woff2")
      format("woff2"),
    url("~@/assets/fonts/BEBASNEUEBOLD0.woff")
      format("woff"),
    url("~@/assets/fonts/BEBASNEUEBOLD0.ttf")
      format("truetype");
}
@font-face {
  font-family: "BEBASNEUEREGULAR0";
  src: url("~@/assets/fonts/BEBASNEUEREGULAR0.eot?#iefix");
  src: url("~@/assets/fonts/BEBASNEUEREGULAR0.eot?#iefix")
      format("eot"),
    url("~@/assets/fonts/BEBASNEUEREGULAR0.woff2")
      format("woff2"),
    url("~@/assets/fonts/BEBASNEUEREGULAR0.woff")
      format("woff"),
    url("~@/assets/fonts/BEBASNEUEREGULAR0.ttf")
      format("truetype");
}
@font-face {
  font-family: "Merriweather-Bold";
  src: url("~@/assets/fonts/Merriweather-Bold.eot?#iefix");
  src: url("~@/assets/fonts/Merriweather-Bold.eot?#iefix")
      format("eot"),
    url("~@/assets/fonts/Merriweather-Bold.woff2")
      format("woff2"),
    url("~@/assets/fonts/Merriweather-Bold.woff")
      format("woff"),
    url("~@/assets/fonts/Merriweather-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Merriweather-BoldItalic";
  src: url("~@/assets/fonts/Merriweather-BoldItalic.eot?#iefix");
  src: url("~@/assets/fonts/Merriweather-BoldItalic.eot?#iefix")
      format("eot"),
    url("~@/assets/fonts/Merriweather-BoldItalic.woff2")
      format("woff2"),
    url("~@/assets/fonts/Merriweather-BoldItalic.woff")
      format("woff"),
    url("~@/assets/fonts/Merriweather-BoldItalic.ttf")
      format("truetype");
}
@font-face {
  font-family: "Merriweather-Regular";
  src: url("~@/assets/fonts/Merriweather-Regular.eot?#iefix");
  src: url("~@/assets/fonts/Merriweather-Regular.eot?#iefix")
      format("eot"),
    url("~@/assets/fonts/Merriweather-Regular.woff2")
      format("woff2"),
    url("~@/assets/fonts/Merriweather-Regular.woff")
      format("woff"),
    url("~@/assets/fonts/Merriweather-Regular.ttf")
      format("truetype");
}
@font-face {
  font-family: "Merriweather-RegularItalic";
  src: url("~@/assets/fonts/Merriweather-RegularItalic.eot?#iefix");
  src: url("~@/assets/fonts/Merriweather-RegularItalic.eot?#iefix")
      format("eot"),
    url("~@/assets/fonts/Merriweather-RegularItalic.woff2")
      format("woff2"),
    url("~@/assets/fonts/Merriweather-RegularItalic.woff")
      format("woff"),
    url("~@/assets/fonts/Merriweather-RegularItalic.ttf")
      format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("~@/assets/fonts/Montserrat-Bold.eot?#iefix");
  src: url("~@/assets/fonts/Montserrat-Bold.eot?#iefix")
      format("eot"),
    url("~@/assets/fonts/Montserrat-Bold.woff2")
      format("woff2"),
    url("~@/assets/fonts/Montserrat-Bold.woff")
      format("woff"),
    url("~@/assets/fonts/Montserrat-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("~@/assets/fonts/Montserrat-Medium.eot?#iefix");
  src: url("~@/assets/fonts/Montserrat-Medium.eot?#iefix")
      format("eot"),
    url("~@/assets/fonts/Montserrat-Medium.woff2")
      format("woff2"),
    url("~@/assets/fonts/Montserrat-Medium.woff")
      format("woff"),
    url("~@/assets/fonts/Montserrat-Medium.ttf")
      format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("~@/assets/fonts/Montserrat-Regular.eot?#iefix");
  src: url("~@/assets/fonts/Montserrat-Regular.eot?#iefix")
      format("eot"),
    url("~@/assets/fonts/Montserrat-Regular.woff2")
      format("woff2"),
    url("~@/assets/fonts/Montserrat-Regular.woff")
      format("woff"),
    url("~@/assets/fonts/Montserrat-Regular.ttf")
      format("truetype");
}

@font-face {
  font-family: "Social-Gothic-DemiBold";
  src: url("~@/assets/fonts/Social-Gothic-DemiBold.otf");
  // src: url("~@/assets/fonts/Montserrat-Regular.eot?#iefix")
  //     format("eot"),
  //   url("~@/assets/fonts/Montserrat-Regular.woff2")
  //     format("woff2"),
  //   url("~@/assets/fonts/Montserrat-Regular.woff")
  //     format("woff"),
  //   url("~@/assets/fonts/Montserrat-Regular.ttf")
  //     format("truetype");
}

@mixin bebas-bold {
  font-family: "BEBASNEUEBOLD0";
}
@mixin bebas-regular {
  font-family: "BEBASNEUEREGULAR0";
}
@mixin merri-bold {
  font-family: "Merriweather-Bold";
}
@mixin merri-bold-italic {
  font-family: "Merriweather-BoldItalic";
}
@mixin merri-regular {
  font-family: "Merriweather-Regular";
}
@mixin merri-regular-italic {
  font-family: "Merriweather-RegularItalic";
}
@mixin montserrat-bold {
  font-family: "Montserrat-Bold";
}
@mixin montserrat-medium {
  font-family: "Montserrat-Medium";
}
@mixin montserrat-regular {
  font-family: "Montserrat-Regular";
}

@mixin social-demibold {
  font-family: "Social-Gothic-DemiBold";
}