$beige: #E7B996;
$grey: #CDCDCD;
$black: #140B05;
$bg-color: #1A2730;

$breakpoints: (
  "phone": 768px,
  "tablet": 1024px,
  "desktop": 1360px,
  "largeDesktop": 1600px,
  "xlargeDesktop": 1921px,
);
