$bright-beige: #F7B690;
$beige: #D0A084;
$grey: #CDCDCD;
$black: #140B05;
$bg-color: #1A2730;
$dark-beige: #AB7968;
$bg-menu: #243948;

$breakpoints: (
  "smallPhone": 350px,
  "phone": 416px,
  "smallTablet": 768px,
  "tablet": 1024px,
  "smallDesktop": 1200px,
  "desktop": 1360px,
  "largeDesktop": 1919px,
  //"xlargeDesktop": 1921px,

  "hSmall": 700px,
  "hSmallPhone": 700px
);
