
<div class="content-wrapper" :class="{'is-mobile': this.userAgent.window.width <= 1024 && this.userAgent.device.isMobile && this.userAgent.orientation == 'portrait'}">
  <!-- header desktop-->
  <div class="header header-desktop">
    <div class="left-block">
      <a class="brand-link header-link" @click="goToSection(1)" href="javascript:void(0);" :class="{ 'active-link': $store.state.activeSection == 0}">tobe.legal</a>
      <a href="javascript:void(0);" class="about header-link"
         @click="goToSection(2)"
         :class="{ 'active-link': $store.state.activeSection >= 1 && $store.state.activeSection <= 4 }"
         v-html="localization.menu.about"
      ></a>
    </div>
      <a class="header-logo" @click="goToSection(1)" href="javascript:void(0);"><img src="./img/logo-legal.svg" alt=""></a>
    <div class="right-block">
      <a href="javascript:void(0);" @click="goToSection(7)" class="services header-link" :class="{ 'active-link': $store.state.activeSection >= 5 && $store.state.activeSection <= 12 }">Услуги</a>
      <a href="javascript:void(0);" @click="goToSection(14)" class="contact header-link" :class="{ 'active-link': $store.state.activeSection == 13 }">Контакты</a>
    </div>
  </div>
  <!-- header mobile-->
  <div class="header header-mobile">
      <a class="header-logo" @click="goToSection(1)" href="javascript:void(0);"><img src="./img/logo-legal.svg" alt=""></a>
      <a class="brand-link header-link" @click="goToSection(1)" href="javascript:void(0);">tobe.legal</a>
      <div @click="toggleMenu" :class="{'open': openMenu}" class="burger">
          <span></span>
          <span></span>
      </div>
  </div>
  <div class="burder-menu">
    <a href="javascript:void(0);" @click="goToSection(2)" class="about header-link" :class="{ 'active-link': $store.state.activeSection >= 1 && $store.state.activeSection <= 7 }">Об адвокате</a>
    <a href="javascript:void(0);" @click="goToSection(9)" class="services header-link" :class="{ 'active-link': $store.state.activeSection >= 8 && $store.state.activeSection <= 14 }">Услуги</a>
    <a href="javascript:void(0);" @click="goToSection(16)" class="contact header-link" :class="{ 'active-link': $store.state.activeSection == 15}">Контакты</a>
    <img src="./img/code.svg" class="qr-code">
    <div class="social">
        <a href="javascript:void(0);"  class="connect"><img src="./img/connect-icon.svg" alt="" class="connect-icon"></a>
        <div class="facebook">
          <a class="facebook-link" target="_blank" href="https://www.facebook.com/evgenii.vorobey"><img src="./img/facebook-icon.svg" alt="" class="facebook-icon"></a>
          <p class="facebook-text"><a class="facebook-link" href="https://www.facebook.com/evgenii.vorobey" target="_blank">facebook</a></p>
        </div>
        <!-- <a class="header-logo" @click="goToSection(1)" href="javascript:void(0);"><img src="./img/logo-legal.svg" alt=""></a> -->
        <!-- <div class="right-block">
          <a href="javascript:void(0);" @click="goToSection(7)" class="services header-link">Услуги</a>
          <a href="javascript:void(0);" @click="goToSection(14)" class="contact header-link">Контакты</a>
      </div> -->
    </div>
    <ul class="languages">
      <li class="languages__item" :class="{ 'active-link': userAgent.userLanguage == 'uk'}">
        <a  @click="toggleLocalization('uk')" href="javascript:void(0);">Укр</a>
      </li>
      <li class="languages__item" :class="{ 'active-link': userAgent.userLanguage == 'ru'}">
        <a @click="toggleLocalization('ru')" href="javascript:void(0);">Рус</a>
      </li>
      <li class="languages__item" :class="{ 'active-link': userAgent.userLanguage == 'en'}">
        <a @click="toggleLocalization('en')" href="javascript:void(0);">Eng</a>
      </li>
    </ul>
  </div>

  <!-- footer desktop-->
  <div class="footer footer-desktop">
    <div class="social">
      <a href="javascript:void(0);"  class="connect"><img src="./img/connect-icon.svg" alt="" class="connect-icon"></a>
      <div class="facebook">
          <a class="facebook-link" target="blank_" href="https://www.facebook.com/evgenii.vorobey"><img src="./img/facebook-icon.svg" alt="" class="facebook-icon"></a>
        <p class="facebook-text">подписывайтесь на мой  <a class="facebook-link" href="https://www.facebook.com/evgenii.vorobey" target="blank_">facebook</a></p>
      </div>
    </div>
    <ul class="languages">
      <li class="languages__item" :class="{ 'active-link': userAgent.userLanguage == 'uk'}">
        <a @click="toggleLocalization('uk')" href="javascript:void(0);">Укр</a>
      </li>
      <li class="languages__item" :class="{ 'active-link': userAgent.userLanguage == 'ru'}">
        <a @click="toggleLocalization('ru')" href="javascript:void(0);">Рус</a>
      </li>
      <li class="languages__item" :class="{ 'active-link': userAgent.userLanguage == 'en'}">
        <a @click="toggleLocalization('en')" href="javascript:void(0);">Eng</a>
      </li>
    </ul>
  </div>
  <!-- footer mobile-->
  <div class="footer footer-mobile">
    <!-- <ul class="languages">
      <li class="languages__item"><a href="javascript:void(0);">Укр</a></li>
      <li class="languages__item"><a href="javascript:void(0);">Рус</a></li>
      <li class="languages__item"><a href="javascript:void(0);">Eng</a></li>
    </ul> -->
    <a class="facebook-link" target="blank_" href="https://www.facebook.com/evgenii.vorobey"><img src="./img/facebook-icon.svg" alt="" class="facebook-icon"></a>
    <a class="phone none-phone-contact" href="tel:+380 50 441 89 82"><img src="./img/phone-icon.svg" alt="" class="phone-icon"></a>
    <a class="phone phone-page-contact" href="tel:+380 50 441 89 82">Сохранить в контакты</a>
  </div>
  
  <!-- static object -->
  <div class="static-object">
    <div class="slide__overlay"></div>
    <div v-if="this.userAgent.window.width > 768 && !this.userAgent.device.isMobile || this.userAgent.window.width >=1024 && this.userAgent.device.isMobile" id="preloader-pane-2" class="preloader-pane">
        <div class="preloader-wrap">
            <img class="pre_dot" src="./img/preloader-2.svg" alt="tobe legal">
        </div>
    </div>
    <div class="black-logo__owerlay">
      <img src="./img/logo-black.svg" alt="tobe.leagel" class="black-logo">
    </div>
    <div class="black-logo-right__owerlay">
      <img src="./img/logo-black.svg" alt="tobe.leagel" class="black-logo-right">
    </div>
    <div class="static-images-wrap">
      <img class="static-image static-image--0 slide-image--1" src="./img/photo-1.jpg" alt="tobe.leagel">
      <div class="photo__owerlay slide-image--2">
        <img class="static-image static-image--1" src="./img/photo-2.png" alt="tobe.leagel">
      </div>
      <img class="static-image static-image--2 slide-image--5 on-desktop" src="./img/photo-3.jpg" alt="tobe.leagel">
      <img class="static-image static-image--3 slide-image--6" src="./img/photo-4.jpg" alt="tobe.leagel">

      <!-- Mobile images -->
      <img class="static-image slide-image--mob-3" src="./img/photo-3.jpg" alt="tobe.leagel">
      <img class="static-image slide-image--mob-4" src="./img/photo-fade-mob-1-n.jpg" alt="tobe.leagel">
      <img class="static-image slide-image--mob-5" src="./img/photo-fade-mob-2-n.jpg" alt="tobe.leagel">
      
      <img src="./img/img-overlay-mobile.svg" class="img-overlay-mobile"></img>
    </div>
  </div>

  <div id="fullpage">

    <!-- Slide 1 -->
    <div class="section">
      <!-- <img class="inner-image inner-image--0 slide-image--1 on-desktop" src="./img/photo-1.jpg" 
      alt="tobe.leagel"> -->
      <img class="slide-image--mob-1 on-mobile" src="./img/photo-mob-1.jpg" 
      alt="tobe.leagel">
      <div class="slide__overlay"></div>
      <div class="quote">
          <p class="qoute__icon">“</p>
          <p class="qoute__text">Я умею предотвращать проблемы и выведу Вас из сложной ситуации законным путём.</p>
          <div class="qoute__contact">
            <a class="qoute__tel" href="tel:+380 50 441 89 82">+380 50 441 89 82</a>
            <p class="qoute__name">Адвокат <nobr>Евгений Воробей</nobr></p>
          </div>
        </div>
      <div class="slide_wrap">
        <div class="slide-1-cols">
          <div class="slide-1-cols__1 on-desktop">
            <div class="logo-block_1">
              <!-- <img src="./img/logo-legal.svg" alt="tobe.leagel" class="logo-block__logo"> -->
            </div>
            <div class="logo-block__2" style="opacity: 0"> 
              <p class="logo-block__position">Адвокат</p>
              <p class="logo-block__name">Евгений <br>Воробей</p>
            </div>
            <p class="text on-desktop">Комплексное сопровождении  <br>бизнеса и судебная практика.</p>
          </div>
          <div class="slide-1-cols__3 on-mobile">
              <div class="logo-block__2">
                <p class="logo-block__position">Адвокат</p>
                <p class="logo-block__name">Евгений<br>Воробей</p>
              </div>
              <p class="text-2">комплексное<br>сопровождение<br>бизнеса</p>
              <p class="text-2">судебная<br>практика</p>
            </div>
          <div class="slide-1-cols__2">
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 2 Desktop -->
    <div class="section" v-if="(this.userAgent.window.width > 768 && !this.userAgent.device.isMobile) || (this.userAgent.window.width >= 1024 && this.userAgent.device.isMobile && this.userAgent.orientation == 'landscape')">
      <div class="photo__owerlay slide-image--2">
        <img class="inner-image inner-image--1" src="./img/photo-2.png" alt="tobe.leagel">
      </div>
      <div class="slide_wrap">
        <div class="slide-2-cols slide-2-cols-1">
          <div class="slide-2-cols__1">
            <div class="line-1">
              <!-- <img src="./img/line-2.svg" alt="" class="line-inner"> -->
              <svg class="line-inner" width="460" preserveAspectRatio="none" height="94" viewBox="0 0 460 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <clipPath transform-box='fill-box' clipPathUnits="userSpaceOnUse" id="clipped__shape" class="clipped__shape" transform='translate(0,0)'>
                      <rect id="clipped_mask-1" class="clipped_mask" transform-box='fill-box' width="100%" height="100%" fill="white" />
                  </clipPath>
                </defs>
                <path class="clipped__image-1" d="M1 93L69.7281 71L108.388 77.6667L139.315 25H193.227L219 1H460" stroke="#E5B794"/>
              </svg>
                
            </div>
            <p class="year">2002</p>
            <p class="text">Начал свою карьру на должности помощника адвоката.</p>
            <p class="text text-2">Продолжительное время работал юрисконсультом на различных предприятиях, руководил юридической службой компании, осуществляющей деятельность в сфере энергетики.</p>
          </div>
          <div class="slide-2-cols__2">
          </div>
          <div class="slide-2-cols__3">
            <div class="line-2">
            <!-- <img src="./img/line-1.svg" alt="" class="line-inner"> -->
            <svg class="line-inner" width="270" height="103" preserveAspectRatio="none" viewBox="0 0 270 103" fill="none" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <clipPath transform-box='fill-box' clipPathUnits="userSpaceOnUse" id="clipped__shape-2" class="clipped__shape" transform='translate(0,0)'>
                    <rect id="clipped_mask-2" class="clipped_mask" transform-box='fill-box' width="100%" height="100%" fill="white" />
                </clipPath>
              </defs>
              <path class="clipped__image-2" d="M1 102L61.1562 91.3333L137.719 44H178.188L206.625 17.3333L287 1" stroke="#E5B794"/>
            </svg>
              
            </div>
            <p class="year">2012</p>
            <p class="text">Получил право осуществлять адвокатскую деятельность и открыл частную практику.</p>
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 2 Mobile -->
    <div v-if="this.userAgent.window.width <= 1024 && this.userAgent.device.isMobile && this.userAgent.orientation == 'portrait'" class="section">
      <div class="slide_wrap">
        <div class="slide-2-cols slide-2-cols-2">
          <div class="slide-2-cols__1">
            <p class="year">2002</p>
            <p class="text">Начал свою карьру на должности помощника адвоката.</p>
            <p class="text text-2">Продолжительное время работал юрисконсультом на различных предприятиях, руководил юридической службой компании, осуществляющей деятельность в сфере энергетики.</p>
          </div>
        </div>
      </div>  
    </div>
    <!-- Slide 3 Mobile -->
    <div v-if="this.userAgent.window.width <= 1024 && this.userAgent.device.isMobile && this.userAgent.orientation == 'portrait'" class="section">
        <div class="slide_wrap no-margin">
            <div class="photo__owerlay slide-image-mobile--2">
              <!-- <img class="inner-image-mobile--1" src="./img/photo-2-mobile.jpg" alt="tobe.leagel"> -->
            </div>
        </div>
    </div>
    <!-- Slide 4 Mobile -->
    <div v-if="this.userAgent.window.width <= 1024 && this.userAgent.device.isMobile && this.userAgent.orientation == 'portrait'" class="section">
        <div class="slide_wrap">
          <div class="slide-2-cols slide-2-cols-3">
            <div class="slide-2-cols__1 padding-for-text">
              <p class="year">2012</p>
              <p class="text">Получил право осуществлять адвокатскую деятельность и открыл частную практику.</p>
            </div>
          </div>
        </div>
    </div>



    <!-- Slide 3 -->
    <div class="section">
      <img class="slide-image--3 on-desktop" src="./img/photo-2.png" alt="tobe.leagel">
      <!-- <img class="slide-image--mob-3 on-mobile" src="./img/photo-3.jpg" alt="tobe.leagel"> -->
      <div class="slide_wrap">
        <div class="slide-3-cols">
          <div class="slide-3-cols__1">
            <p class="text">Работая в сфере права, приобрел значительный позитивный опыт по таким направлениям:</p>
            <ul class="list-block">
              <li class="list-block__item">
                <span class="list-block__number">I</span>
                <p class="list-block__text">Разрешение корпоративных конфликтов</p>
                <div class="list-block__item-arrow"></div>
              </li>
              <li class="list-block__item">
                <span class="list-block__number">II</span>
                <p class="list-block__text">Споры с государственными органами</p>
                <div class="list-block__item-arrow"></div>
              </li>
              <li class="list-block__item">
                <span class="list-block__number">III</span>
                <p class="list-block__text">Уголовное право</p>
                <div class="list-block__item-arrow"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>  
    </div>
      

    <!-- Slide 4 -->
    <div class="section">
      <img class="slide-image--3" src="./img/photo-2.png" alt="tobe.leagel">
      <div class="slide_wrap">
        <div class="slide-4-cols">
          <div class="slide-4-cols__1">
            <p class="text">Моими клиентами, <br>с которыми удалось построить долгие и взаимовыгодные отношения, являются частные лица и представители бизнеса из многих стран:</p>
            <ul class="list-country">
              <li class="list-country__item">Украины</li>
              <li class="list-country__item">США</li>
              <li class="list-country__item">Германии</li>
              <li class="list-country__item">Турции</li>
              <li class="list-country__item">Великобритании</li>
              <li class="list-country__item">Израиля</li>
            </ul>
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 5 -->
    <div class="section">
      <!-- <img class="slide-image--5 on-desktop" src="./img/photo-3.jpg" alt="tobe.leagel"> -->

      <div class="slide_wrap">
        <div class="slide-5-cols">
          <div class="slide-5-cols__1">
            <p class="text">Успешно реализованные кейсы <br>позволили моим доверителям: </p>
            <ul class="list-hammer">
              <li class="list-hammer__item list-hammer__item-1">Обжаловать необоснованные требования государственных органов<img src="./img/icon-hammer.svg" alt="" class="icon-hammer"></li>
              <li class="list-hammer__item list-hammer__item-2">Вернуть незаконно отобранное имущество<img src="./img/icon-hammer.svg" alt="" class="icon-hammer"></li>
              <li class="list-hammer__item list-hammer__item-3">Дать достойный отпор противоправным действиям силовых структур<img src="./img/icon-hammer.svg" alt="" class="icon-hammer"></li>
            </ul>
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 6 -->
    <div class="section">
      <!-- <img class="slide-image--5" src="./img/photo-3.jpg" alt="tobe.leagel"> -->
      <div class="slide_wrap">
        <div class="slide-6-cols">
          <div class="slide-6-cols__1">
            <p class="text">Я предоставляю консультации <br>по построению оптимальной структуры <br>ведения предпринимательской деятельности <br>и налоговому планированию, разрабатываю <br>индивидуальные меры по защите активов.</p> 
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 7 -->
    <div class="section">
      <!-- <img class="slide-image--6" src="./img/photo-4.jpg" alt="tobe.leagel"> -->
      <div class="slide_wrap">
        <div class="slide-7-cols">
          <h3 class="services-title">Абонентское обслуживание бизнеса</h3>
          <p class="text text-upper">Правовое сопровождение коммерческой <br>деятельности, включающее в себя:</p>
          <div class="two-column">
            <div class="two-column__1">
              <ul class="arrow-list">
                <li class="arrow-list__item">юридические консультации по текущим вопросам;</li>
                <li class="arrow-list__item">составление внутренней документации компании;</li>
                <li class="arrow-list__item">разработка, проверка и согласование договорной документации;</li>
              </ul>
            </div>
            <div class="two-column__2">
              <ul class="arrow-list">
                <li class="arrow-list__item">переговоры с контрагентами;</li>
                <li class="arrow-list__item">сопровождение проверок;</li>
                <li class="arrow-list__item">коммуникации с государственными органами.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 8 -->
    <div class="section">
      <!-- <img class="slide-image--6" src="./img/photo-4.jpg" alt="tobe.leagel"> -->
      <div class="slide_wrap">
        <div class="slide-8-cols">
          <h3 class="services-title">Структурирование бизнеса
           </h3>
          <div class="two-column">
            <div class="two-column__1">
              <ul class="arrow-list">
                <li class="arrow-list__item">Разработка уникальных, индивидуальных и оптимальных схем построения предпринимательской деятельности.</li>
                <li class="arrow-list__item">Оформление отношений между участниками структуры, выявление и защита зон риска. </li>
                <li class="arrow-list__item">Использование субъектов иностранных юрисдикций с целью уменьшения налоговой нагрузки.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 9 -->
    <div class="section">
      <!-- <img class="slide-image--6" src="./img/photo-4.jpg" alt="tobe.leagel"> -->
      <div class="slide_wrap">
        <div class="slide-9-cols">
          <h3 class="services-title">Представительство интересов в судах</h3>
          <div class="two-column">
            <div class="two-column__1">
              <ul class="arrow-list">
                <li class="arrow-list__item">Защита прав и представительство интересов в органах судебной власти.</li>
                <li class="arrow-list__item">Составление процессуальных документов (исковых заявлений, отзывов, ходатайств и т. д.).</li>
                <li class="arrow-list__item">Участие в судебных заседаниях.
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 10 -->
    <div class="section">
      <!-- <img class="slide-image--6" src="./img/photo-4.jpg" alt="tobe.leagel"> -->
      <div class="slide_wrap">
        <div class="slide-10-cols">
          <h3 class="services-title">Защита в уголовных производствах</h3>
          <div class="two-column">
            <div class="two-column__1">
              <ul class="arrow-list">
                <li class="arrow-list__item">Защита интересов субъектов в уголовных производствах, в том числе потерпевшей стороны, как на этапе досудебного следствия, так и судебного рассмотрения.</li>
                <li class="arrow-list__item">Участие в следственных действиях (обысках, допросах и т. п.)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 11 -->
    <div class="section">
      <!-- <img class="slide-image--6" src="./img/photo-4.jpg" alt="tobe.leagel"> -->
      <div class="slide_wrap">
        <div class="slide-11-cols">
          <h3 class="services-title">Обжалование решений органов власти</h3>
          <p class="text text-upper">Административное и судебное обжалование <br>решений органов власти, в том числе:</p>
          <div class="two-column">
            <div class="two-column__1">
              <ul class="arrow-list">
                <li class="arrow-list__item">о запретах;</li>
                <li class="arrow-list__item">обвязывающих выполнение;</li>
                <li class="arrow-list__item">о начислениях и штрафах;</li>
              </ul>
            </div>
            <div class="two-column__2">
              <ul class="arrow-list">
                <li class="arrow-list__item">о проведении проверки;</li>
                <li class="arrow-list__item">об отказах в выполнении прошений.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 12 -->
    <div class="section">
      <!-- <img class="slide-image--6" src="./img/photo-4.jpg" alt="tobe.leagel"> -->
      <div class="slide_wrap">
        <div class="slide-12-cols">
          <h3 class="services-title">Аудит объектов инвестирования</h3>
          <div class="two-column">
            <div class="two-column__1">
              <ul class="arrow-list">
                <li class="arrow-list__item">Анализ состояния, рисков, скрытых угроз объектов инвестирования, в том числе в сфере жилой и коммерческой недвижимости (проверка застройщика, разрешительной документации, наличия уголовных и судебным производств и т. п.)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 13 -->
    <div class="section">
      <!-- <img class="slide-image--6" src="./img/photo-4.jpg" alt="tobe.leagel"> -->
      <div class="slide_wrap">
        <div class="slide-13-cols">
          <h3 class="services-title">Медиация</h3>
          <div class="two-column">
            <div class="two-column__1">
              <ul class="arrow-list">
                <li class="arrow-list__item">Урегулирование спора с участием адвоката (медиатора) как нейтральной, беспристрастной, не заинтересованной в конфликте стороны, помогающее сторонам выработать определённое соглашение по спору.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>  
    </div>

    <!-- Slide 14 -->
    <div class="section">
      <img class="slide-image--7" src="./img/photo-5.jpg" alt="tobe.leagel">
      <div class="slide_wrap">
        <div class="slide-14-cols">
          <div class="slide-14-cols-1">
            <h3 class="contact-title">На связи 24/7</h3>
            <div class="contact-group-1">
                <p class="text text-desktop">Если Вам нужна профессиональная юридическая помощь, позвоните мне:</p>
                <p class="text text-mobile">Если Вам нужна помощь, позвоните мне:</p>
                <a class="contact-link" href="tel:+380 50 441 89 82">+380 50 441 89 82</a>
            </div>
            <div class="contact-group-2">
                <p class="text text-desktop">Для Ваших вопросов, пересылки документов и фиксации неформальных договоренностей</p>
                <p class="text text-mobile">Для вопросов и документов:</p>
                <a class="contact-link" href="mailto:ev@tobe.legal">ev@tobe.legal</a>
            </div>
            <div class="contact-group-3">
                <p class="text">За моей социальной и профессиональной активностью следи на моей странице:</p>
                <a class="contact-link" href="javascript:void(0);">facebook</a>
            </div>
            <p class="contact-name">Адвокат<br> Евгений Воробей</p>
          </div>
          <div class="slide-14-cols-2">
            <p class="code">Сканируйте код, чтобы сохранить мои контакты</p>
            <img src="./img/code.svg" alt="" class="contact-code">
          </div>
        </div>
      </div>  
    </div>

  </div>

</div>