// ------------------- header
.header{
  width: calc(100% - 90px);
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 45px;
  margin-right: 45px;
}
.left-block{
  width: 50%;
  margin-right: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.right-block{
  width: 50%;
  margin-left: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-logo{
  img{
    width: 22px;
    height: 32px;
  }
  position: absolute;
  top: 27px;
  left: calc(50% - 11px);
}
.header-link{
  @include montserrat-medium;
  font-size: 11px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: $dark-beige;
  &:hover{
    color: $beige;
  }
}
.header-desktop{
  @include media ("<tablet"){
    display: none;
  }
}
.header-mobile{
  display: none;
  @include media ("<tablet"){
    display: flex;
    align-items: center;
    height: 75px;
    z-index: 100000;
  }
  .header-logo{
  left: 0;
  }
  .brand-link{
    margin: 0 auto;
    width: 50px;
    display: block;
  }

    // Menu burger
    .burger {
      position: absolute;
      top: 35px;
      right: 0;
      width: 24px;
      height: 18px;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;
      display: none;
      z-index: 1500;
      @include media ("<tablet"){
        display: block;
      }
  
      > span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: $beige;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        
        &:nth-child(1) {
          top: 0px;
        }
  
        &:nth-child(2) {
          top: 6px;
        }
      }
  
      &.open > span {
  
        &:nth-child(1) {
          top: 6px;
          transform: rotate(155deg);
        }
  
        &:nth-child(2) {
          top: 6px;
          transform: rotate(-155deg);
        }

      }
    }
}

.burder-menu{
  display: none;
  font-display: column;
  justify-content: center;
  width: 100vw;
  background-color: $bg-menu;
  height: 100vh;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 10000;
  flex-direction: column;

  &.active{
    display: flex;
  }
  .services, .contact, .about{
    font-size: 38px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 7vh;
    @include media ("<tablet"){
      font-size: 30px;
    }
    @include media ("height<hSmallPhone"){
      font-size: 18px;
    }
  }
  .qr-code{
    width: 100%;
    max-width: 240px;
    height: auto;
    display: block;
    margin: 0 auto;
    @include media ("height<hSmallPhone"){
      max-width: 140px;
    }
  }
  .social{
    position: absolute;
    bottom: 30px;
    left: 30px;
    @include media ("<tablet"){
      .right-block{
        display: none;
      }
      .header-logo{
        display: none;
      }
    }
  }
}
// ------------------- footer
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1000;
  width: calc(100% - 90px);
  margin-left: 45px;
  margin-right: 45px;
  align-items: flex-end;
  margin-bottom: 30px;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: $beige;
    display: block;
    margin: 0 auto;
  }
}
.social{
  display: flex;
  flex-direction: column;
}
.connect-icon{
  width: 14px;
  height: 16px;
  margin-bottom: 15px;
}
.facebook{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.facebook-icon{
  height: 16px;
  width: 8px;
   margin-right: 15px;
}
.facebook-text{
  display: inline;
  padding-left: 15px;
  position: relative;
  @include montserrat-medium;
  font-size: 11px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: $dark-beige;
  &:before{
    content: '';
    position: absolute;
    top: -4px;
    left: 0px;
    width: 1px;
    height: 18px;
    background-color: $dark-beige;
  }
}
.facebook-link{
  color: $beige;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}

.languages{
  display: flex;
  flex-direction: row;
  li{
    margin-left: 15px;
    @include montserrat-medium;
    font-size: 11px;
    line-height: 1.1;
    letter-spacing: 0.05em;
    color: $dark-beige;
    }
    a{
      color: inherit;
    }
    &:hover{
      color: $beige;
    }
}
.footer-desktop{
  @include media ("<tablet"){
    display: none;
   }
}
.footer-mobile{
  display: none;

  @include media ("<tablet"){
   display: flex;
   height: 55px;
   margin-bottom: 10px;
   margin-left: 30px;
   margin-right: 30px;
   width: calc(100% - 60px);
   align-items: center;
  }
  &:before{
    top: 23px;
  }
  .phone{
    background-color: $bg-menu;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .phone-icon{
    width: 22px;
    height: 22px;
  }
}





.active-link{
  color: $beige;
}



#fp-nav{
  pointer-events: none;
  @include media ("<smallDesktop"){
    opacity: 0 !important;
    pointer-events: none; 
  }
}

#fp-nav ul li, .fp-slidesNav ul li{
  height: 1px !important;
  background-color: $beige;
  width: 6px !important;
  margin-bottom: 15px !important;
}
#fp-nav ul li {
  a.active{
    width: 15px !important;
    background-color: $beige;
    right: 0;
    position: absolute;
  }
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  display: none;
}

.static-object{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $bg-color;
  position: absolute;
  z-index: 0;
}
.black-logo__owerlay{
  position: absolute;
  z-index: 10;
  width: 287px;
  height: 430px;
  //top: 23vh;
  bottom: 23vh;
  left: 22.5vw;
  overflow: hidden;
  img{
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  &-2{
    left: 55vw;
  }
  @include media ("<smallDesktop"){
    left: 14.5vw;
  }
  .is-mobile &{
    @include media ("<tablet"){
      bottom: 28vh;
    }
  }
}
.black-logo-right__owerlay{
  opacity: 0;
  position: absolute;
  z-index: 10;
  width: 287px;
  height: 430px;
  top: 23vh;
  right: 18.5vw;
  overflow: hidden;
  &-2{
    right: 55vw;
  }
}
.black-logo{
  position: relative;
  width: 100%;
}
.black-logo-right{
  position: relative;
  width: 100%;
}
.section{
  z-index: 1000;
  position: relative;
  overflow: hidden;
  //opacity: 0;
}
.slide_wrap{
  position: relative;
  z-index: 10;
  margin-left: 15%;
  margin-right: 7%;
  @include media ("<smallDesktop"){
    margin-left: 7%;
  }
  @include media ("<tablet"){
    margin-left: 13%;
  }
  @include media ("<tablet"){
   margin-right: 10vw;
  }
}
.text{
  @include montserrat-regular;
  width: 100%;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $grey;
  @include media ("<tablet"){
    font-size: 16px;
  }
}
.text-upper{
  text-transform: uppercase;
  margin-top: 50px;
  padding-left: 20px;
  font-size: 14px;
}
.services-title{
  padding-left: 20px;
  @include montserrat-medium;
  background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 34px;
  line-height: 1.2;
  position: relative;
  text-transform: uppercase;
  &:before{
    content: '/';
    top: 0;
    left: 0;
    @include montserrat-medium;
    background: -webkit-linear-gradient(90deg, hsl(26, 62%, 77%) -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
    line-height: 1;
    position: absolute;
  }
  @include media ("<smallDesktop"){
    font-size: 28px;
  }
}
.arrow-list__item{
  position: relative;
  padding-left: 20px;
  margin-bottom: 25px;
  position: relative;
  @include montserrat-regular;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $grey;
  &:before{
    content: '';
    top: 8px;
    width: 11px;
    height: 7px;
    left: -3px;
    background-image: url(./img/before-list.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
  }
}

.slide-image--1{
  position: absolute;
  right: 0%;
  bottom: -15px;
  z-index: 1;
  height: 100vh;
  width: auto;
  @include media ("<smallDesktop"){
    right: -8%;
    min-height: 834px;
    bottom: 0;
    top: 0;
    margin: auto 0;
  }
  @include media ("height<hSmall"){
    height: 120vh;
    min-height: 0px;
    right: -3%;
  }
  @include media ("<tablet"){
    display: none;
  }
}

.slide-image--2{
  overflow: hidden;
  position: absolute;
  left: 47%;
  top: 19%;
  z-index: 1000;
  img{
    width: 304px;
    height: auto;
  }
  @include media ("<smallDesktop"){
    // left: auto !important;
    right: 30vw;
  }
  .is-mobile &{
    width: 100%;
    display: block;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }
  @include media (">phone"){
    @include media ("height<min-height"){
      top: 10%;
    }
  }
}
.slide-image--3{
  position: absolute;
  left: 56.5%;
  top: 19%;
  z-index: 1000;
  @include media (">phone"){
    @include media ("height<min-height"){
      top: 10%;
    }
  }
  .is-mobile &{
    display: none;
  }
}

.slide-image--5{
  position: absolute;
  left: 26vw;
  bottom: 0;
  height: 100vh;
  z-index: 0;
  @include media ("<smallDesktop"){
    left: 12vw;
    height: 95vh;
  }
  @include media (">phone"){
    @include media ("height<min-height"){
      bottom: -120px;
    }
  }
}
.slide-image--6{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  height: 100vh;
  @include media ("<tablet"){
    left: -18vw;
  }
  @include media (">phone"){
    @include media ("height<min-height"){
      bottom: -110px;
    }
  }
}
.slide-image--7{
  position: absolute;
  height: 100vh;
  left: 35vw;
  bottom: 0;
  z-index: 0;
  @include media ("<tablet"){
    left: 30vw;
  }
  @include media (">phone"){
    @include media ("height<min-height"){
      bottom: -80px;
    }
  }
}
.slide-image--mob-1{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  min-height: 800px;
  z-index: 0;
  @include media ("<phone"){
    right: 4%;
    left: auto;
  }
  @include media ("<smallPhone"){
    right: auto;
    left: -150px;
    top: 10%;
    min-height: 700px;
  }
}
.slide-image--mob-3{
  position: absolute;
  bottom: 0;
  height: 100%;
  left: -13vw;
  .is-mobile & {
    display: block;
    opacity: 1;
  }
}
.inner-image-mobile--1{
  width: 100%;
}
.slide-image--mob-4{
  position: absolute;
  bottom: 0;
  height: 100%;
  left: -13vw;
  z-index: 10;
  .is-mobile & {
    display: block;
    opacity: 1;
    @include media ("<smallPhone"){
      display: none;
    }
  }
}
.slide-image--mob-5{
  position: absolute;
  bottom: 0;
  height: 100%;
  left: -13vw;
  .is-mobile & {
    display: block;
    opacity: 1;
  }
}

.on-mobile{
  display: none;
  @include media ("<tablet"){
   display: block;
  }
  @include media("retina2x", "<=tablet", "portrait") {
    display: block;
  }
}
.on-desktop{
  display: block;
  @include media ("<tablet"){
   display: none !important;
  }
  @include media("retina2x", "<=tablet", "portrait") {
    display: none !important;
  }
}

// ------------------ Slide 1

.slide-1-cols{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .slide-1-cols__1{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    @include media ("<tablet"){
      width: 80%;
      min-width: 700px;
      display: none;
    }
  }
  @include media ("<tablet"){
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin-left: 40%;
  }
  @include media("retina2x", "<=tablet", "portrait") {
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    margin-left: 40%;
  }
  .slide-1-cols__2{
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include media ("<tablet"){
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .slide-1-cols__3{
    height: 70vh;
    .logo-block__position{
      text-align: right;
      font-size: 19px;
      @include media ("<smallPhone"){
        font-size: 14px;
      }
    }
    .logo-block__name{
      text-align: right;
      font-size: 57px;
      padding-top: 3px;
      @include media ("<smallPhone"){
        font-size: 38px;
      }
    }
    .text-2{
      @include bebas-regular;
      background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 16px;
      line-height: 22px;
      text-align: right;
      letter-spacing: 0.1em;
      margin-top: 30px;
      @include media ("<smallPhone"){
        font-size: 14px;
      }
    }
  }
  .text{
    margin-left: 80px;
    margin-top: 30px;
    @include media ("<smallDesktop"){
      margin-left: 145px;
    }
  }

  .logo-block__logo{
    width: 150px;
    height: auto;
    margin-right: 35px;
  }
  .logo-block__position{
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    @include montserrat-regular;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin-top: 0;
    margin-top: 35px;
    margin-bottom: 10px;
  }
  .logo-block__name{
    @include bebas-bold;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 52px;
    line-height: 1;
  }
}

.quote{
  background-color: $black;
  width: 90%;
  max-width: 410px;
  position: absolute;
  bottom: 105px;
  right: 40px;
  padding: 25px;
  // @include media("retina2x", "<=tablet", "portrait") {
  //   display: none;
  // }
  @include media ("<smallPhone"){
    display: block;
    max-width: 360px;
    bottom: 105px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  @include media ("height<hSmallPhone"){
    display: none;
  }
  
  &:after{
    content: '';
    position: absolute;
    bottom: -26px;
    right: 26px;
    border: 13px solid transparent;	
    border-top: 13px solid #000; 
    border-right: 13px solid #000;
  }
}
.qoute__icon{
  display: inline;
  position: absolute;
  @include merri-regular-italic;
  font-size: 80px;
  line-height:1;
  letter-spacing: 0.05em;
  left: 20px;
  top: 28px;
  color: #fff;
  @include media ("<tablet"){
    left: 10px;
  }
}
.qoute__text{
  margin-left: 60px;
  font-size: 12px;
  line-height: 150%;
  @include montserrat-regular;
  color: #fff;
  @include media ("<tablet"){
    margin-left: 40px;
  }
}
.qoute__contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 60px);
  margin-left: 60px;
  margin-top: 20px;
  @include media ("<tablet"){
    margin-left: 40px;
    width: calc(100% - 40px);
  }
}
.qoute__tel{
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  letter-spacing: 0.05em;
  @include merri-bold-italic;
  @include media ("<tablet"){
    width: 50%;
  }
}
.qoute__name{
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.05em;
  @include merri-bold-italic;
}

// ------------------ Slide 2
.slide-2-cols{
  display: flex;
  flex-direction: row;
  .is-mobile &{
    @include media ("<tablet"){
      flex-direction: column;
    }
  }

  .slide-2-cols__1{
    width: 30%;
    position: relative;
    margin-top: 11%;
    margin-left: 6vw;
    @include media ("<smallDesktop"){
      width: 37%;
      box-sizing: border-box;
      margin-left: 0;
      min-width: 100px;
    }
    .is-mobile &{
      @include media ("<tablet"){
        width: 60%;
        margin-top: 0;
      }
    }
  }
  .slide-2-cols__2{
    width: 27%;
    min-width: 274px;
    @include media ("<smallDesktop"){
      width: 35%;
    }
    .is-mobile &{
      @include media ("<tablet"){
        display: none;
      }
    }
  }
  .slide-2-cols__3{
    width: 25%;
    max-width: 150px;
    position: relative;
    margin-top: 3%;
    margin-left: 45px;
    @include media ("<smallDesktop"){
      box-sizing: border-box;
      margin-top: 4%;
    }
    .is-mobile &{
      @include media ("<tablet"){
       width: 40%;
       margin-top: 0;
      }
    }
  }
  .year{
    @include montserrat-medium;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    line-height: 1;
  }
  .line-1{
    overflow: hidden;
    position: absolute;
    top: -55px;
    left: 165px;
    width: 145%;
    @include media ("<tablet"){
     display: none;
    }
  }
  .line-2{
    overflow: hidden;
    position: absolute;
    top: -68px;
    left: 153px;
    @include media ("<tablet"){
      display: none;
    }
  }
  .line-inner{
    height: 100%;
  }
  .text{
    margin-top: 15px;
  }
  .text-2{
    margin-top: 35px;
  }
}

// ------------------ Slide 3
.slide-3-cols{
  display: flex;
  flex-direction: row;
  margin-left: 4vw;
  @include media ("<tablet"){
    margin-left: 0;
  }
  .slide-3-cols__1{
    width: 50%;
    max-width: 430px;
    margin-right: 10%;
    @include media ("<tablet"){
      width: 50%;
      max-width: 320px;
    }
  }
  .slide-3-cols__2{
    width: 40%;
    min-width: 274px;
  }
  .list-block{
    padding-left: 0;
    margin-top: 25px;
  }
  .list-block__item{
    height: 45px;
    border: solid 1px $beige;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    @include media ("<tablet"){
      padding-right: 40px;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .list-block__item-arrow{
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    right: -11px;
    background-image: url(./img/list-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 28px;
    height: 8px;
  }
  .list-block__text{
    @include montserrat-regular;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    @include media ("<tablet"){
      font-size: 16px;
    }
  }
  .list-block__number{
    @include  merri-regular;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    .is-mobile &{
      @include media ("<tablet"){
        width: 100px;
        display: block;
       }
    }
  }
  .text{
    margin-left: 2vw;
    width: 90%;
    .is-mobile &{
      @include media ("<tablet"){
        width: 100%;
      }
    }
  }
}

// ------------------ Slide 4
.slide-4-cols{
  display: flex;
  flex-direction: row;
  margin-left: 6vw;
  @include media ("<tablet"){
    margin-left: 0;
  }
  .slide-4-cols__1{
    width: 50%;
    max-width: 400px;
    margin-right: 10%;
    .is-mobile &{
      width: 100%;
      max-width: 500px;
      .text{
        width: 80%;
        max-width: 250px;
      }
    }
  }
  .slide-4-cols__2{
    width: 40%;
    min-width: 274px;
  }
  .list-country{
    padding-left: 0;
    margin-top: 20px;
  }
  .list-country__item{
    position: absolute;
    @include  montserrat-bold;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    line-height: 1.7;
    letter-spacing: 0.07em;
    @include media ("<tablet"){
      font-size: 35px;
    }
    .is-mobile &{
      position: relative;
      font-size: 30px;
    }
  }
}

// ------------------ Slide 5
.slide-5-cols{
  display: flex;
  flex-direction: row;
  margin-left: 4vw;
  @include media ("<tablet"){
    margin-left: 0;
  }
  .slide-5-cols__1{
    width: 60%;
  }

  .list-hammer{
    padding-left: 0;
    margin-top: 40px;
  }
  .list-hammer__item{
    border-top: solid 1px $beige;
    border-left: solid 1px $beige;
    margin-bottom: 33px;
    position: relative;
    @include montserrat-regular;
    color: $beige;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    padding: 25px;
    padding-right: 10px;
    max-width: 380px;
    @include media ("<tablet"){
      max-width: 350px;
    }
    .is-mobile &{
      padding-bottom: 30px;
      padding-right: 20px;
    }
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-color: $beige;
      width: 1px;
      height: 80%;
    }
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $beige;
      width: 80%;
      height: 1px;
    }
    &-2{
      margin-left: 6vw;
      .is-mobile &{
        margin-left: 0;
      }
    }
    &-3{
      margin-left: 2vw;
      .is-mobile &{
        margin-left: 0;
      }
    }
  }
  .icon-hammer{
    position: absolute;
    bottom: -2px;
    right: 10px;
    width: 42px;
    height: 32px;
  }
  .text{
    margin-left: 2vw;
  }
}

// ------------------ Slide 6
.slide-6-cols{
  display: flex;
  flex-direction: row;
  margin-left: 6vw;
  .slide-6-cols__1{
    width: 40%;
    @include media ("<smallDesktop"){
      width: 70%;
    }
    .is-mobile &{
     width: 60%;
    }
  }
  .text{
    margin-top: 15vh;
  }
  @include media ("<tablet"){
    margin-left: 0;
  }
  .is-mobile &{
    br{
      display: none;
    }
    .text{
      margin-top: 5vh;
    }
    .slide-6-cols__1{
      width: 60%;
    }
  }
}

// ------------------ Slide 7
.slide-7-cols{
  width: 50%;
  margin-right: 5vw;
  margin-left: auto;
  @include media ("<tablet"){
    margin-right: 0;
    width: 65%;
  }

  .two-column{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .two-column__1{
    width: 50%;
    margin-right: 10%;

  }
  .two-column__2{
    width: 40%;
  }
  .is-mobile &{
    .text-upper{
      max-width: 320px;
      br{
        display: none;
      }
    }
    .two-column{
      flex-direction: column;
    }
    .two-column__1{
      width: 80%;
    }
    .two-column__2{
      width: 80%;
    }
  }
}

// ------------------ Slide 8
.slide-8-cols{
  width: 50%;
  margin-right: 5vw;
  margin-left: auto;
  @include media ("<tablet"){
   margin-right: 0;
   width: 60%;
  }

  .two-column{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .two-column__1{
    width: 65%;
    margin-right: 10%;
  }
  .is-mobile &{
    .two-column{
      flex-direction: column;
    }
    .two-column__1{
      width: 80%;
    }
    .two-column__2{
      width: 80%;
    }
  }
}
// ------------------ Slide 9
.slide-9-cols{
  width: 50%;
  margin-right: 5vw;
  margin-left: auto;
  @include media ("<tablet"){
    margin-right: 0;
    width: 60%;
   }
  .two-column{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .two-column__1{
    width: 72%;
    margin-right: 10%;
  }
  .is-mobile &{
    .two-column{
      flex-direction: column;
    }
    .two-column__1{
      width: 80%;
    }
    .two-column__2{
      width: 80%;
    }
  }
}
// ------------------ Slide 10
.slide-10-cols{
  width: 50%;
  margin-right: 5vw;
  margin-left: auto;
  @include media ("<tablet"){
    margin-right: 0;
    width: 60%;
   }
  .two-column{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .two-column__1{
    width: 72%;
    margin-right: 10%;
  }
  .is-mobile &{
    .two-column{
      flex-direction: column;
    }
    .two-column__1{
      width: 80%;
    }
    .two-column__2{
      width: 80%;
    }
  }
}
// ------------------ Slide 11
.slide-11-cols{
  width: 50%;
  margin-right: 5vw;
  margin-left: auto;
  @include media ("<tablet"){
    margin-right: 0;
    width: 60%;
   }
  .two-column{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .two-column__1{
    width: 45%;
    margin-right: 10%;
  }
  .two-column__2{
    width: 45%;
  }
  .is-mobile &{
    .two-column{
      flex-direction: column;
    }
    .two-column__1{
      width: 80%;
    }
    .two-column__2{
      width: 80%;
    }
    .text-upper{
      max-width: 320px;
      br{
        display: none;
      }
    }
  }
}

// ------------------ Slide 12
.slide-12-cols{
  width: 50%;
  margin-right: 5vw;
  margin-left: auto;
  @include media ("<tablet"){
    margin-right: 0;
    width: 60%;
   }
  .two-column{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .two-column__1{
    width: 80%;
    margin-right: 10%;
  }
  .is-mobile &{
    .two-column{
      flex-direction: column;
    }
    .two-column__1{
      width: 80%;
    }
    .two-column__2{
      width: 80%;
    }
  }
}

// ------------------ Slide 13
.slide-13-cols{
  width: 50%;
  margin-right: 5vw;
  margin-left: auto;
  @include media ("<tablet"){
    margin-right: 0;
    width: 60%;
   }
  .two-column{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .two-column__1{
    width: 80%;
    margin-right: 10%;
  }
  .is-mobile &{
    .two-column{
      flex-direction: column;
    }
    .two-column__1{
      width: 80%;
    }
    .two-column__2{
      width: 80%;
    }
  }
}

// ------------------ Slide 14
.slide-14-cols{
  width: 47%;
  margin-right: 40vw;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  .is-mobile &{
    width: 80%;
    max-width: 357px;
    margin-right: 0;
    margin-left: auto;
  }
  @include media ("<smallDesktop"){
    margin-right: 46vw;
    margin-left: 0;
    width: 55%;
   }
  .slide-14-cols-1{
    width: 58%;
    @include media ("<smallDesktop"){
      width: 60%;
    }
    .is-mobile &{
      @include media ("<phone"){
        width: 100%;
      }
    }
  }
  .slide-14-cols-2{
    width: 30%;
    margin-left: 7%;
    .is-mobile &{
      display: none;
    }
  }
  .contact-title{
    @include montserrat-medium;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .text{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .contact-link{
    @include montserrat-medium;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    line-height: 1.2;
  }
  .contact-name{
    text-align: right;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    @include merri-bold-italic;
    color: $grey;
    margin-top: 5px;
    .is-mobile &{
      margin-top: 30vh;
    }
  }
  .code{
    @include montserrat-medium;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10px;
    line-height: 1.2;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .contact-code{
    width: 145px;
    height: 145px;
  }
}

.contact-group-3{
  .is-mobile &{
    display: none;
  }
}


// Fade sliders
// .fullpage-wrapper {
// 	width: 100%!important;
// 	transform: none!important;
// }

// .fp-section {
// 	width: 100%!important;
// 	position: absolute !important;
// 	left: 0;
// 	top: 0;
// 	visibility: hidden;
// 	opacity: 0;
// 	z-index: 0;
// 	transition: all .7s ease-in-out;
// }

// .fp-section.active {
// 	visibility: visible;
// 	opacity: 1;
// 	z-index: 1;
// }


.slide__overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  height: 0vh;
  width: 100%;
  background-color: $bg-color;
  z-index: 9999;
}

.static-images-wrap{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .static-image{
    opacity: 0;
    &--0{
      .fp-viewing-section-0 &{
        opacity: 1;
      }
    }
    &--1{
      .fp-viewing-section-1,.fp-viewing-section-2,.fp-viewing-section-3  &{
        opacity: 1;
      }
      .is-mobile &{
        display: block;
        opacity: 1;
      }
    }
    &--2{
      .fp-viewing-section-4,.fp-viewing-section-5  &{
        opacity: 1;
      }
    }
    &--3{
      .fp-viewing-section-6,.fp-viewing-section-7,.fp-viewing-section-8,.fp-viewing-section-9,.fp-viewing-section-10,.fp-viewing-section-11,.fp-viewing-section-12 &{
        opacity: 1;
      }
    }
  }
}

.slide-image--mob-3{
  .is-mobile &{
    .fp-viewing-section-4 &,.fp-viewing-section-5 &,.fp-viewing-section-6 &,.fp-viewing-section-7 &{
      opacity: 1;
    }
  }
}
.slide-image--mob-4{
  .is-mobile &{
    .fp-viewing-section-8 &,.fp-viewing-section-9 &,.fp-viewing-section-10 &,.fp-viewing-section-11 &,.fp-viewing-section-12 &,.fp-viewing-section-13 &,.fp-viewing-section-14 &{
      opacity: 1;
    }
  }
}
.slide-image--mob-5{
  .is-mobile &{
    .fp-viewing-section-15 &{
      opacity: 1;
    }
  }
}

.black-logo__owerlay{
  .fp-viewing-section-0 &,.fp-viewing-section-6,.fp-viewing-section-7,.fp-viewing-section-8,.fp-viewing-section-9,.fp-viewing-section-10,.fp-viewing-section-11,.fp-viewing-section-12 &{
    opacity: 0;
  }
}
.fp-viewing-section-6,.fp-viewing-section-7,.fp-viewing-section-8,.fp-viewing-section-9,.fp-viewing-section-10,.fp-viewing-section-11,.fp-viewing-section-12 {
  .black-logo-right__owerlay{
    opacity: 1;
  }
  .black-logo__owerlay{
    opacity: 0;
  }
}

.fp-viewing-section-8,.fp-viewing-section-9,.fp-viewing-section-10,.fp-viewing-section-11,.fp-viewing-section-12,.fp-viewing-section-13,.fp-viewing-section-14{
  .is-mobile{
    .black-logo-right__owerlay{
      opacity: 0;
    }
    .black-logo__owerlay{
      opacity: 0;
    }
  }
}
.fp-viewing-section-15{
  .is-mobile{
    .black-logo-right__owerlay{
      opacity: 0;
    }
    .black-logo__owerlay{
      opacity: 0;
    }
    .phone{
      display: none;
      &.phone-page-contact{
        display: block;
        width: 250px;
        border-radius: 30px;
        @include montserrat-medium;
        font-size: 18px;
        text-align: center;
        padding-top: 20px;
        color: $beige;
      }
    }
  }
}
.fp-viewing-section-4,.fp-viewing-section-5,.fp-viewing-section-6,.fp-viewing-section-7 {
  .is-mobile{
    .black-logo-right__owerlay{
      opacity: 0;
    }
    .black-logo__owerlay{
      opacity: 0;
    }
  }
}
  


.fp-viewing-section-13{
  .is-mobile &{
    opacity: 1;
  }
}

.no-margin{
  margin: 0;
}

.slide-image-mobile--2{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  display: none;
  .is-mobile &{
    display: block;
  }
}
