
<div class="content-wrapper">

  <div class="brand-link"><a href="javscript:void(0);">tobe.legal</a></div>
  <ul class="languages">
    <li class="languages__item"><a href="javscript:void(0);">Укр</a></li>
    <li class="languages__item"><a href="javscript:void(0);">Рус</a></li>
    <li class="languages__item"><a href="javscript:void(0);">Eng</a></li>
  </ul>

  <full-page ref="fullpage" :options="options" id="fullpage">
    <div class="section">
      <img class="slide-image" src="./img/photo-1.jpg" alt="tobe.leagel">
    </div>
    <div class="section">
        <img class="slide-image--2" src="./img/photo-2.png" alt="tobe.leagel">
    </div>
  </full-page>

</div>