
.brand-link{
  position: fixed;
  top: 40px;
  left: 40px;
  color: #fff;
  z-index: 900;
}
.languages{
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: #fff;
  z-index: 900;

  li{
    display: inline-block;
    margin-left: 15px;
  }
}
.static-object{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $bg-color;
  position: absolute;
  z-index: 0;
}
.black-logo{
  position: absolute;
  z-index: 1;
  width: 287px;
  height: 430px;
  top: 23vh;
  left: 22.5vw;
}
.section{
  z-index: 1000;
  position: relative;
}
.slide_wrap{
  position: relative;
  z-index: 10;
  margin-left: 15%;
  margin-right: 7%;
  &--1{
    margin-left: 0;
    margin-right: 0;
  }
}
.text{
  width: 100%;
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $grey;
}

.slide-image--1{
  position: absolute;
  right: 2px;
  bottom: -15px;
  z-index: 1;
  max-width: 870px;
}
.slide-image--2{
  position: absolute;
  left: 47%;
  top: 19%;
  z-index: 1000;
}
.slide-image--3{
  position: absolute;
  left: 56.5%;
  top: 19%;
  z-index: 1000;
}





// ------------------ Slide 1

.slide-1-cols{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .slide-1-cols__1{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
  }
  .slide-1-cols__2{
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .text{
    margin-left: 80px;
    margin-top: 30px;
  }

  .logo-block__logo{
    width: 150px;
    height: auto;
    margin-right: 35px;
  }
  .logo-block__position{
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    @include montserrat-regular;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin-top: 0;
    margin-top: 35px;
    margin-bottom: 10px;
  }
  .logo-block__name{
    @include bebas-bold;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 52px;
    line-height: 1;
  }
  .qoute{
    background-color: $black;
    width: 410px;
    position: relative;
    padding: 25px;
    margin-bottom: -55px;
    &:after{
      content: '';
      position: absolute;
      bottom: -26px;
      right: 26px;
      border: 13px solid transparent;	
      border-top: 13px solid #000; 
      border-right: 13px solid #000;
    }
  }
  .qoute__icon{
    display: inline;
    position: absolute;
    @include merri-regular-italic;
    font-size: 80px;
    line-height:1;
    letter-spacing: 0.05em;
    left: 20px;
    top: 28px;
    color: #fff;
  }
  .qoute__text{
    margin-left: 60px;
    font-size: 12px;
    line-height: 150%;
    @include montserrat-regular;
    color: #fff;
  }
  .qoute__contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 60px);
    margin-left: 60px;
    margin-top: 20px;
  }
  .qoute__tel{
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.05em;
    @include merri-bold-italic;
  }
  .qoute__name{
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.05em;
    @include merri-bold-italic;
  }
}

// ------------------ Slide 2
.slide-2-cols{
  display: flex;
  flex-direction: row;
  .slide-2-cols__1{
    width: 30%;
    position: relative;
    margin-top: 11%;
    margin-left: 6vw;
  }
  .slide-2-cols__2{
    width: 27%;
    min-width: 274px;
  }
  .slide-2-cols__3{
    width: 25%;
    max-width: 150px;
    position: relative;
    margin-top: 3%;
    margin-left: 45px;
  }
  .year{
    @include montserrat-medium;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    line-height: 1;
  }
  .line-1{
    position: absolute;
    top: -55px;
    left: 165px;
    width: 145%;
  }
  .line-2{
    position: absolute;
    top: -68px;
    left: 153px;
  }
  .text{
    margin-top: 15px;
  }
  .text-2{
    margin-top: 35px;
  }
}

// ------------------ Slide 3
.slide-3-cols{
  display: flex;
  flex-direction: row;
  margin-left: 4vw;
  .slide-3-cols__1{
    width: 50%;
    max-width: 430px;
    margin-right: 10%;
  }
  .slide-3-cols__2{
    width: 40%;
    min-width: 274px;
  }
  .list-block{
    padding-left: 0;
    margin-top: 25px;
  }
  .list-block__item{
    height: 45px;
    border: solid 1px $beige;
    margin-bottom: 20px;
    padding-left: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:before{
      content: '';
      position: absolute;
      top: calc(50% - 4px);
      right: -11px;
      background-image: url(./img/list-arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 28px;
      height: 8px;
    }
  }
  .list-block__text{
    @include montserrat-regular;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13px;
    line-height: 1.7;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
  }
  .list-block__number{
    @include  merri-regular;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
  }
  .text{
    margin-left: 2vw;
    width: 90%;
  }
}

// ------------------ Slide 4
.slide-4-cols{
  display: flex;
  flex-direction: row;
  margin-left: 6vw;
  .slide-4-cols__1{
    width: 50%;
    max-width: 400px;
    margin-right: 10%;
  }
  .slide-4-cols__2{
    width: 40%;
    min-width: 274px;
  }
  .list-country{
    padding-left: 0;
    margin-top: 20px;
  }
  .list-country__item{
    position: absolute;
    @include  montserrat-bold;
    background: -webkit-linear-gradient(90deg, #E9C0A0 -29.04%, #E5BB9C -11.71%, #D8AC90 9.05%, #C3947E 31.48%, #AB7968 51.12%, #BD8C76 53.66%, #D0A084 57.25%, #DDAE8E 61.34%, #E5B794 66.37%, #E7B996 74.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    line-height: 1.7;
    letter-spacing: 0.07em;
  }
}