
<div class="content-wrapper">

  <div class="brand-link"><a href="javscript:void(0);">tobe.legal</a></div>
  <ul class="languages">
    <li class="languages__item"><a href="javscript:void(0);">Укр</a></li>
    <li class="languages__item"><a href="javscript:void(0);">Рус</a></li>
    <li class="languages__item"><a href="javscript:void(0);">Eng</a></li>
  </ul>

  <full-page ref="fullpage" :options="options" id="fullpage">

    <!-- Slide 1 -->
    <div class="section"> 
      <div class="slide_wrap slide_wrap--1">
        <div class="slide-1-cols">
            <div class="slide-1-cols__1">
              <p class="slide-1__text">комплексное<br> сопровождение бизнеса</p>
              <p class="slide-1__text slide-1__text-margin ">судебная<br> практика</p>
            </div>
            <div class="slide-1-cols__1">
              <img src="./img/Logo.svg" alt="tobe.leagel" class="logo">
            </div>
            <div class="slide-1-cols__3">
              <p class="slide-1__position">Адвокат</p>
              <p class="slide-1__name">Евгений <br>Воробей</p>
            </div>
        </div>
      </div>
    </div>

     <!-- Slide 2 -->
    <div class="section">
      <img class="slide-image--1" src="./img/photo-1.jpg" alt="tobe.leagel">
      <div class="slide_wrap">
        <div class="slide-2-cols">
          <div class="slide-2-cols__1">
            <div class="logo-block_1">
              <img src="./img/Logo.svg" alt="tobe.leagel" class="logo-block__logo">
            </div>
            <div class="logo-block__2">
              <p class="logo-block__position">Адвокат</p>
              <p class="logo-block__name">Евгений <br>Воробей</p>
            </div>
            <p class="text">Комплексное сопровождении  <br>бизнеса и судебная практика.</p>
          </div>
          <div class="slide-2-cols__2">
            <div class="qoute">
              <p class="qoute__icon">“</p>
              <p class="qoute__text">Я умею предотвращать проблемы и выведу Вас из сложной ситуации законным путём.</p>
              <div class="qoute__contact">
                <a class="qoute__tel" href="tel:+380 50 441 89 82">+380 50 441 89 82</a>
                <p class="qoute__name">Адвокат Евгений Воробей</p>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>

  </full-page>

</div>